@import "tailwindcss";
@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fade{
  animation: fade 1s ease-in-out;
}


@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.bg-animated {
  background: linear-gradient(135deg, #dbeafe, #e9d5ff, #fef3c7, #cffafe);
  background-size: 400% 400%;
  animation: gradientMove 12s ease infinite;
}
